.Quiz {
  background: #bae19f;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;

  p, td {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
  }

  th {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', serif;
    text-align: center;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  .cont {
    width: 80%;
    min-width: 600px;
    padding: 20px 35px;
    margin: 0 auto;
    border-radius: 6px;
    background: #fff;
    border: 2px solid #408b40;
  }

  .over {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
