.QuizMain {
  display: flex;
  justify-content: space-between;

  input {
    display: block;
  }
  input[type=number] {
    width: 70px;
  }
  select {
    display: block;
    width: 70px;
  }

  .scoreStep {
    margin: 20px 0 30px 0;

    span {
      color: grey;
      font-weight: bold;
    }
  }
}