.QuizMain {
  display: flex;
  justify-content: space-between;

  input {
    display: block;
  }
  input[type=number] {
    width: 70px;
  }
  select {
    display: block;
    width: 70px;
  }

  .scoreStep {
    margin: 20px 0 30px 0;

    span {
      color: grey;
      font-weight: bold;
      display: inline-block;
    }
  }

  .anim__change {
    animation: change .1s;
  }

  @keyframes change {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
}